body{
background-color:#4CC3D9;
font-family:Helvetica; /*Changes font of entire website to Helvetica */
display: block;
margin: 0px 10% 0 10%;/*remember top, right,bottom,left*/
color: #0000b3;/*refers to font colour bluish:)*/
font-size: 20px;
}

h1{
  color: white;/* Change color of H1 to tealishh*/
  text-align: center;/* Center the H1*/
  text-shadow: 1px 0 0 #0000b3, 0 -1px 0 #0000b3, 0 1px 0 #0000b3, -1px 0 0 #0000b3;/*adding a shadow to my H1*/
  font-size: 40px;

}
